<!DOCTYPE html>
<html lang="en">
<head>
  <title>High Fashion Log</title>
  <link href="static/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body { padding-top: 60px; }
  </style>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">High Fashion Log</a>
      </div>
    </div>
  </div>
  <div class="container">
    <h3>Messages</h3>
    <div id="messages"></div>
  </div>

<!-- Templates -->
<script id="messageListTemplate" type="text/template">
<table class="table table-striped table-bordered">
  <caption></caption>
  <thead>
    <tr>
      <th>Application</th>
      <th>Message</th>
      <th>Time Posted</th>
    </tr>
  </thead>
  <tbody>
{{#messages}}
    <tr>
      <td>{{app_name}}</td>
      <td>{{message}}</td>
      <td>{{message_type}}</td>
      <td>{{posted}}</td>
    </tr>
{{/messages}}
  </tbody>
</table>
</script>

<script id="noMessagesTemplate" type="text/template">
<table class="table table-striped table-bordered">
  <tr>
    <td>No messages logged. Sorry.</td>
  </tr>
</table>
</script>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.5.0-dev/mustache.min.js"></script>
  <script src="static/js/app.js"></script>
</body>
</html>
